*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 7px;
    transition: .5s;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
}

#bgCol {
    margin: 1rem !important;
}

#bgCol button {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}

#light {
    background-color: grey;
    color: white
}

.container{
    margin: auto auto;
    padding: 30px;
    font-size: 1.2rem;
    background-color: rgb(221, 253, 243);
    box-shadow: 1px 1px 8px;
}

button{
    padding: 5px;
}

.field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: rgb(55, 55, 55);
    border-bottom: 2px solid grey;
}

h1{
    margin-bottom: 20px;
}

.label{
    line-height: 1.5rem;
    font-weight: bold;
    color: black;
}

hr{
    border: 2px solid red;
}

#user-info span {
    flex: 1;
    text-align: left;
    padding-left: 10px;
}